<!-- sidebar.component.html -->

<div class="flex flex-col w-64 h-full bg-gray-800 text-white">
    <!-- Logo o Título del Sidebar -->
    <div class="flex items-center justify-center h-20 shadow-md">
      <h1 class="text-3xl uppercase">LegalTax</h1>
    </div>
  
    <!-- Lista de opciones del Sidebar -->
    <ul class="flex flex-col py-4">
      <!-- Home -->
      <li>
        <a href="/home" class="flex items-center p-4 hover:bg-gray-600">
          <span class="flex-1 ml-3 whitespace-nowrap">Inicio</span>
        </a>
      </li>
  
      <!-- Usuarios -->
      <li>
        <a href="/usuarios" class="flex items-center p-4 hover:bg-gray-600">
          <span class="flex-1 ml-3 whitespace-nowrap">Usuarios</span>
        </a>
      </li>
  
      <!-- Indicadores de liquidez -->
      <li>
        <a href="/liquidez" class="flex items-center p-4 hover:bg-gray-600">
          <span class="flex-1 ml-3 whitespace-nowrap">Liquidez</span>
        </a>
      </li>
  
      <!-- Indicadores de solvencia -->
      <li>
        <a href="/solvencia" class="flex items-center p-4 hover:bg-gray-600">
          <span class="flex-1 ml-3 whitespace-nowrap">Solvencia</span>
        </a>
      </li>
  
      <!-- Indicadores de gestión -->
      <li>
        <a href="/gestion" class="flex items-center p-4 hover:bg-gray-600">
          <span class="flex-1 ml-3 whitespace-nowrap">Gestión</span>
        </a>
      </li>
  
      <!-- Indicadores de rentabilidad -->
      <li>
        <a href="/rentabilidad" class="flex items-center p-4 hover:bg-gray-600">
          <span class="flex-1 ml-3 whitespace-nowrap">Rentabilidad</span>
        </a>
      </li>
  
      <!-- Autenticación -->
      <li>
        <a href="/login" class="flex items-center p-4 hover:bg-gray-600">
          <span class="flex-1 ml-3 whitespace-nowrap">Iniciar Sesión</span>
        </a>
      </li>
    </ul>
  </div>
  